@import url("./menu.css");
@import url("./index.css");

:root {
  --white: #fdfdfd;
  --black: #131313;
  --gray: #f2f2f230;
}

html {
  background-color: var(--black);
  color: var(--white);
}

nav#menu-desktop ul {
  color: var(--white) !important;
}

nav#menu-desktop ul li.active {
  border-bottom-color: var(--white);
}

section {
  align-items: flex-start;
  border-bottom: 1px solid var(--gray);
  display: flex;
  flex-direction: row;
  gap: 64px;
  justify-content: center;
  min-height: 105vh;
  padding-bottom: 100px;
  padding-top: 100px;
}



section div.aparicoes-container {
  align-items: flex-start;
}

section div p {
  hyphens: auto;
  line-height: 26px;
  text-align: justify;
}

section div img {
  max-width: 320px;
  min-width: 200px;
  width: 50%;
}

section div ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media (max-width: 990px) {
  section {
    align-items: center;
    flex-direction: column;
    gap: 32px;
  }

  section div {
    max-width: 600px;
  }
}

@media (max-width: 575px) {
  section {
    padding-top: 80px;
  }

  section div p,
  li {
    font-size: 0.8rem;
  }
}
